/*--------------

$RESET

-------------*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/*--------------

$ELEMENTS

-------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');



.wrapper {
  display: flex;
  flex-flow: row wrap;
  background-image: url("SmallLogo.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
}

header, main, nav, aside, footer {
  flex: 1 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 8em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

header {
  /*background-color: -moz-linear-gradient (#dd7230, #f4c95d);
  background-color: -webkit-linear-gradient (#dd7230, #f4c95d);
  background-color: -o-linear-gradient (#dd7230, #f4c95d);
  background-color: linear-gradient (#dd7230, #f4c95d);*/
  background-color: #dd7230;
  color: white;
}

nav {
  z-index: 99;
  background-color: #f4c95d;
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h4 {
  color: #2e1f27;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

nav a {
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

nav a:hover {
     background-color: #dd7230;
     color: white;
 }

nav a:active {
     background-color: #fff;
     color: red;
 }

nav a:visited {
     color: white;
}

.main {
  font-size: 1.5em;
  line-height: 1.5em;
  opacity: 0.8;
  background: -moz-linear-gradient  (#f4c95d,#e7e393);
  min-height: 300px;
  color: black;
}

aside {
  background: -moz-linear-gradient (#e7e393,#dd7230);
  min-height: 300px;
  opacity: 0.9;
  color: #2e1f27;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

.aside-1 {
  opacity: 1;
}

.aside-2 {
  opacity: 0.8;
}
.divers {
    display: grid;
    grid-template-columns: 20em 1fr;
}

.divers ul {
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.titre_hobby {
  grid-column: 1;
  color: grey;
  font-size: 2.5em;
}
.langues {
  grid-column: 2;
}

.hobby {
  grid-column: 3;
}

footer {
  background-color: #dd7230;
  min-height: 150px;
  flex-flow: wrap;
  color: #2e1f27;
}

footer p {
  font-size: 1.2em;
  text-align: center;
}

footer .copy {
  text-align: center;
}
